.section3 {
  .section3-wrap {
    position: relative;
    background: transparent linear-gradient(270deg, #6696e2 0%, #e27866 100%) 0%
      0% no-repeat padding-box;
    .section3-content {
      height: 595px;
      @include flex-centered;
      gap: 75px;

      .feature-1 {
        div {
          @include flex-centered;
          position: relative;
          z-index: 1;
          margin: 10px;
          width: 100px;
          height: 100px;
          color: $section3-feature1-span;
          background: url("./app/img/tab_2_button_u85_mouseover.svg");
          span {
            transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
            font-weight: $section3-feature1-span-w;
            font-size: $section3-feature1-span-s;
          }
        }
        .card-hover:hover {
          background: url("./app/img/tab_1_button_u83_selected.svg");
          transition: all 0.3s ease-in-out 0s;
          color: $section3-feature1-span-hover;
          cursor: pointer;
        }
        .selected {
          background: url("./app/img/tab_1_button_u83_selected.svg");
          color: $section3-feature1-span-selected;
          transition: all 0.5s ease-in-out 0s;
        }
      }
      .feature-2 {
        width: 509px;
        position: relative;
        z-index: 1;
        h2 {
          text-align: left;
          font-size: $section3-feature2-h2-s;
          font-weight: $section3-feature2-h2-w;
          color: $section3-feature2-h2;
          width: 509px;
          height: 124px;
        }
        p {
          color: $section3-feature2-p;
          font-size: $section3-feature2-p-s;
          text-align: left;
          margin-top: 15px;
        }
      }

      .feature-3 {
        width: 450px;
        height: 300px;

        .slider3 {
          h1 {
            text-align: center;
            width: 300px;
          }
          .swiper-pagination {
            padding-top: 30px;
          }
        }
        .swiper-wrapper {
          .swiper-slide {
            .section3-grid-wrapper {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              grid-column-gap: 0px;
              grid-row-gap: 15px;
              width: 400px;

              .grid1 {
                grid-area: 1 / 1 / 2 / 2;
              }
              .grid {
                grid-area: 1 / 2 / 2 / 3;
              }
              .grid3 {
                grid-area: 2 / 1 / 3 / 3;
              }

              .content {
                position: relative;
                width: 90%;
                width: 180px;
                margin: auto;
                overflow: hidden;
              }

              .content .content-overlay {
                background: $section3-feature3-overlay-background 0% 0%
                  no-repeat padding-box;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
              }

              .content:hover .content-overlay {
                opacity: 0.8;
              }

              .content-image {
                width: 100%;
              }

              .content-details {
                position: absolute;
                text-align: center;
                padding-left: 1em;
                padding-right: 1em;
                width: 100%;
                top: 50%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }

              .content:hover .content-details {
                top: 50%;
                left: 50%;
                opacity: 1;
              }

              .content-details h3 {
                color: $section3-feature3-overlay-h3;
                font-size: $section3-feature3-overlay-h3-s;
                font-weight: $section3-feature3-overlay-h3-w;
                margin-bottom: 0.5em;
              }

              // --------------------------------- BIG PICTURE IN GRID

              .container3 .title {
                text-align: center;
                margin-bottom: 10px;
              }

              .content3 {
                position: relative;
                width: 90%;
                width: 390px;
                margin: auto;
                overflow: hidden;
              }

              .content3 .content-overlay3 {
                background: $section3-feature3-overlay-background 0% 0%
                  no-repeat padding-box;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
              }

              .content3:hover .content-overlay3 {
                opacity: 0.8;
              }

              .content-image3 {
                width: 390px;
                height: 180px;
              }

              .content-details3 {
                position: absolute;
                text-align: center;
                padding-left: 1em;
                padding-right: 1em;
                width: 100%;
                top: 50%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }

              .content3:hover .content-details3 {
                top: 50%;
                left: 50%;
                opacity: 1;
              }

              .content-details3 h3 {
                color: $section3-feature3-overlay-h3;
                font-size: $section3-feature3-overlay-h3-s;
                font-weight: $section3-feature3-overlay-h3-w;
                margin-bottom: 0.5em;
              }

              // -------------------------------------

              .fadeIn-bottom {
                top: 80%;
              }

              .fadeIn-top {
                top: 20%;
              }

              .fadeIn-left {
                left: 20%;
              }

              .fadeIn-right {
                left: 80%;
              }
            }
          }
        }
      }
    }
  }
  .section3-wrap:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent
      url("./app/img/christoffer-engstrom-503481-unsplash@2x.png") 0% 0%
      no-repeat padding-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 0.42;
  }
}
