.section9 {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $section9-background;

  i {
    padding: 0 15px;
    font-size: 25px;
    color: $section9-icon;
  }

  h2 {
    font-size: $section9-h2-s;
    font-weight: $section9-h2-w;
    color: $section9-h2;
    opacity: 0.5;
  }
}
